.landing-info {
  height: 27rem;
  background-color: var(--Primary-Navy);
}

.landing-info-content {
  display: flex;
  flex-direction: row;
  padding: 2.5rem 7.5rem;
}

.landing-info-info {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.info-heading {
  color: var(--Primary-White);
  font-family: var(--Font-Inter);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.info-text {
  color: var(--Primary-White);
  font-family: var(--Font-Inter);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  text-align: left;
}

#adress {
  margin-bottom: 0;
}

.landing-info-icons {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
